.recipeContainer {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 20px 0 80px;
  
}


.card {
  font-family: 'Heebo';
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  margin: 2em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all;
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  align-self: center;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}