.recipe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

h3 {
  font-size: 80px;
}
.recipeContainer {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 20px 0 80px;
  
}


.card {
  font-family: 'Heebo';
  height: 18em;
  width: 20em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  /* padding: 1em; */
  margin: 2em;
  display: flex;
  /* align-items: flex-end; */
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.image-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image-container img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
 
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}




.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: end;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  
  width: auto;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(177, 243, 160, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {

  background-color: rgb(32, 202, 32);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

/* .button-77:active:not(:disabled) {
  color: #ccc;
} */

/* .button-77:active:not(:disabled):after {
  background-image: green;
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
} */

.button-77:disabled {
  cursor: default;
  opacity: .24;
}